<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">admin123</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/pagerank</property>
		<property name="hibernate.connection.username">mguney</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL57InnoDBDialect</property>
		<property name="show_sql">false</property>
		<property name="format_sql">true</property>
		<!-- JDBC connection pool (use the built-in) -->
		<property name="hibernate.connection.pool_size">10</property>
		<property name="hibernate.jdbc.batch">50</property>
		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>
		<!--<property name="cache.use_second_level_cache">false</property> -->
		<!-- Disable the second-level cache -->
		<!--<property name="hibernate.cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property> -->
		<!-- Drop and re-create the database schema on startup <property name="hbm2ddl.auto">update</property> -->
	
		<mapping class="com.gun3y.pagerank.entity.LinkTuple" />
		<mapping class="com.gun3y.pagerank.entity.HtmlTitle" />

	</session-factory>
</hibernate-configuration>